{% extends "Posts/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <p class="detalle-titulo-about">Un poco sobre mí</p>
    <div class="divisor"></div>
    <p class="detalle-contenido-about">
        <picture class="detalle__container-imagen-about">
            <img src="{% static 'Posts/assets/img-programador.jpg' %}" alt="" class="detalle-imagen-about">
        </picture>
        ¡Hola! Mi nombre es Gabriel Monlezun y soy un estudiante de la Licenciatura en Sistemas de Información de las Organizaciones en la Facultad de Ciencias Económicas - UBA y además, soy el creador de esta página. <br>
        El ajedrez despertó en mi una gran pasión desde que tenía 13 años y continuo jugando en la actualidad. Por otro lado, mi gusto por la programación surgió hace muy poco cursando una materia llamada Construcción de Aplicaciones Informáticas en la cual tuve que desarrollar una aplicación de encomiendas en lenguaje C#. <br>
        Este proyecto surgió como trabajo final en el curso de Python de CoderHouse y mi idea fue lograr una linda mezcla entre mostrar un poco el hermoso mundo del ajedrez y su infinita cantidad de historias y programación a través de la lógica de una web funcional y su diseño. 
    </p>
    <q class="fide"><i>Chess, like love, like music, has the power to make men happy</i> - Siegbert Tarrasch</q>

{% endblock %}