<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a993a604d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'Posts/css/style.css' %}">
    <title>_chess.py</title>
</head>
<body>
    <header class="main-header">
        <nav class="nav-flex">
            <div class="container-nav">
                <a href="{% url 'Index' %}"><img src="{% static 'Posts/assets/logo.png' %}" alt="logo" class="logo-proyecto"></a>
                <ul>
                    <li><a href="{% url 'PuzzlesList' %}">Problemas</a></li>
                    <li><a href="{% url 'BioList' %}">Biografías</a></li>
                    <li><a href="{% url 'GamesList' %}">Partidas</a></li>
                    <li><a href="{% url 'About' %}">Sobre mí</a></li>
                </ul>
            </div>
 
            <ul>
                {% if request.user.is_authenticated %}
                    <li class="usuario"><span class="arroba"></i>@</span>{{user}}<i class="fa-solid fa-circle online"></i></li>
                    <li><a href="{% url 'Logout' %}" class="logout-text"><i class="fa-solid fa-power-off logout"></i>Logout</a></li>
                    <li><a href="{% url 'EditProfile' %}"><i class="fa-solid fa-sliders settings" title="Configuración"></i></a></li>
                    <li><a href="{% url 'Inbox' %}"><i class="fa-solid fa-message messages" title="Mensajes"></i></a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'Login' %}" class="login-text"><i class="fa-solid fa-power-off login"></i>Login</a></li>
                    <li><a href="{% url 'Register' %}"class="register-text">Regístrate</a></li>
                {% endif %}
                
            </ul>
        </nav>
    </header>
  
    <div class="container">

        <section class="banner-right">

        </section>

        <section class="contenidoQueCambia">
            {% block contenidoQueCambia %}
    
            {% endblock %}
        </section>

        <section class="banner-left">
            
            <div class="container-buscar">
                <form action="{% url 'Search' %}" method="GET" class="form-buscar">
                        <input type="text" name="input-busqueda" id="" class="input-buscar" placeholder="Buscar">
                        <button type="submit" class="boton-buscar"><i class="fa-solid fa-magnifying-glass icono-buscar"></i></button>
                </form>
            <picture>
                <img src="{% static 'Posts/assets/DGT-Centaur-Banner-scaled.jpg' %}" alt="" class="img-publicidad">
                <p class="publicidad-texto">[Publicidad]</p>
            </picture>
        </section>
    </div>
    
    <footer>
        <div class="container-autor">
            <p class="nombre-autor"> Gabriel Monlezun</p> 
            <p>
                <a href="https://www.linkedin.com/in/gabriel-monlezun-5a6349116/"><i class="fa-brands fa-linkedin linkedin-logo"></i></a>
                <a href="https://github.com/GMONLEZUN"><i class="fa-brands fa-github github-logo"></i></a>
            </p>
        </div>
        <div class="container-footer">
            <p>Inspired by</p>
            <a href="https://www.coderhouse.com/"><img src="{% static 'Posts/assets/logos_coderhouse.png' %}" alt="Logo CoderHouse" class="coder-logo"></a>
        </div>
        <p><i class="fa-solid fa-location-dot location"></i>Argentina, Ciudad de Buenos Aires</p>
    </footer>
        
       
</body>
</html>