{% extends "Posts/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <h3 class="titulo-categoria">Biografías</h3>
    <div class="divisor"></div>
    <button class="boton-newpost"><a href="{% url 'BioCreation' %}">Nuevo Post</a></button>
    {% if object_list %}
        {% for biografia in object_list %}
        
            <div class="container-post-bio">
                <div class="container-title">
                    <div class="imagen-miniatura-container"><img src="{{biografia.image.url}}" alt="" class="img-miniatura"></div>
                    <div class="container-post__userTitle">
                        <p class="container-post__title">{{biografia.title}}</p><span class="fecha-lista">posted by @{{biografia.author.username}} > {{biografia.date}}</span>
                    </div>
                </div>
                <button class="boton-ver"><a href="{% url 'BioDetail' biografia.id %}"><i class="fa-solid fa-eye icon-eye"></i></a></button>
            </div>

        {% endfor %}
    {% endif %}
{% endblock %}