{% extends "Posts/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <div class="container-post-form">
        <h1 class="titulo-post-form">Nuevo post - Problema</h1>
        <div class="divisor"></div>
        <form action="" method="POST" enctype="multipart/form-data" class="formulario-post">{% csrf_token %}
            <div class="p-form">
                {{form.media}}
                {{form.as_p}}
                <button type="submit" class="boton-post-form">Post!</button>
            </div>
        </form>
    </div>


{% endblock %}


