{% extends "Posts/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <div class="detalle__container-botones">
        <p class="detalle-user">Posted by @{{object.author.username}} ><i> {{object.date}}</i></p>
        {% if object.author.id == request.user.id %}
            <div class="contenedor-editdelete">
                <button class="boton-editar"><a href="{% url 'GamesUpdate' object.id %}"><i class="fa-solid fa-pen-to-square icono-editar"></i></a></button>
                <button class="boton-eliminar"><a href="{% url 'GamesDelete' object.id %}"><i class="fa-solid fa-trash-can icono-eliminar"></i></a></button>
            </div> 
        {% endif %}
    </div>
    
    <p>{{object.title}}</p>
    <p class="detalle-titulo">{{object.title_players}} [{% if object.result == 1 %}1-0{% elif object.result == 2 %}0-1{% elif object.result == 3 %}1/2-1/2{% endif %}]</p>
    <picture class="detalle__container-imagen">
        <img src="{{object.image.url}}" alt="" class="detalle-imagen">
    </picture>
    <p class="detalle-contenido">{{object.content|safe}}</p>
  
    <hr class="separador-comentarios">
    <div class="sector-comentarios">
        <div class="container-likes">
            <h3 class="titulo-comentarios">Comentarios</h3>
            <div class="container-like-button">
                <span class="total-likes">{{total_likesgames}}</span> 
                <form action="{% url 'like_postgames' postgames.id %}" method="POST">{% csrf_token%}
                    <button class="boton-like" type="submit" value="{{ postgames.id }}" name="postgames_id"><i class="fa-solid fa-heart like-icon"></i></button> 
                </form>
            </div>
        </div>
        <div class="container_form-comentario">
            <form action="{% url 'like_postgames' postgames.id %}" method="post">
                {% csrf_token %}
            </form>
            <form action="{% url 'CommentsGames' postgames.id %}" method="POST" class="form-comentario">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Escribe un comentario" class="input-comentario">
            <button type="submit" class="boton-comentar"><i class="fa-solid fa-solid fa-play boton-comentar-icono"></i></button>
            </form>
        </div>
        
        <hr class="separador-comentarios2">
        {% if not postgames.commentsGames.all %}
            <p>No hay comentarios todavía...</p>
        
        {% else %}   
            {% for comment in postgames.commentsGames.all|dictsortreversed:"date" %}
                <div class="container-comentario">
                    <div class="comentarista-fecha">
                        <p class="comentario-autor">@{{comment.commenter}}</p> <p class="comentario-fecha">{{comment.date}}</p>
                    </div>
                    <p class="comentario">"<i>{{comment.body}}</i>"</p>
                    {% if comment.commenter.id == request.user.id %}
                        <p class="boton-eliminar-comentario"><a href="{% url 'CommentsGamesDelete' comment.id %}"><i class="fa-solid fa-trash-can eliminar-comentario"></i>Eliminar</a></p>
                    {% endif %}
                </div>
                
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}