{% extends "Posts/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    {% if messages %}
        {% for message in messages %}
            <div class="sector-alertas">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h3 class="titulo-categoria">Partidas</h3>
    <div class="divisor"></div>
    <button class="boton-newpost"><a href="{% url 'GamesCreation' %}">Nuevo Post</a></button>
    {% if object_list %}
        {% for partida in object_list %}
        
            <div class="container-post">
                <div class="container-post__userTitle">
                    <p class="container-post__title">{{partida.title_players}} [{% if partida.result == 1 %}1-0{% elif partida.result == 2 %}0-1{% elif partida.result == 3 %}1/2-1/2{% endif %}]</p><span class="fecha-lista">posted by @{{partida.author.username}} > {{partida.date}}</span>
                </div>
                <button class="boton-ver"><a href="{% url 'GamesDetail' partida.id %}"><i class="fa-solid fa-eye icon-eye"></i></a></button>
            </div>

        {% endfor %}
    {% endif %}
{% endblock %}