{% extends "Posts/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <p class="detalle-user">Posted by user <i>{{object.date}}</i></p>
    <p class="detalle-titulo">{{object.title}}</p>
    <picture class="detalle__container-imagen">
        <img src="{{object.image.url}}" alt="" class="detalle-imagen">
    </picture>
    <p class="detalle-contenido">{{object.content}}</p>
    <div class="detalle__container-botones">
        <button class="boton-editar"><a href="{% url 'GamesUpdate' object.id %}">Editar</a></button>
        <button class="boton-eliminar"><a href="{% url 'GamesDelete' object.id %}">Eliminar</a></button>
        
    </div>
{% endblock %}