{% extends "Posts/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <div class="container-register">
        <h1 class="titulo-register">Registro</h1>
        <div class="divisor"></div>
        <form action="" method="POST" class="formulario-register">
        {% csrf_token %}
        <div class="p-form">
            {{form.as_p}}
            <button type="submit" class="boton-signup">Registrate</button>
        </div>
        </form>
        <p class="mensaje-register">{{mensaje}}</p>
    </div>
    
{% endblock %}