html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    position: relative;
    background-color: black; 
    margin: 0;
    z-index: 1;
}

/* -----------------------HEADER----------------------- */

.main-header{
    background: rgb(59,0,255);
    background: linear-gradient(124deg, rgba(59,0,255,0.47942927170868344) 0%, rgba(111,89,240,0.27494747899159666) 32%, rgba(164,255,210,0.4822303921568627) 59%, rgba(74,121,102,0.3533788515406162) 82%, rgba(1,50,22,0.6026785714285714) 100%);
    position: relative;
    z-index: 100;
    height: 9.2vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-flex{
    position: inherit;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content:center;
    align-items: center;
    gap: 200px;
    padding: 10px 140px;
    top: 0;
    bottom: 0;
}

.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo-proyecto{
    position: relative;
    height: 100%;
    width: 140px;
    object-fit: cover;
    transform: scale(115%);
    top: -7px;
    align-self: center;
}

.container-nav>ul{
    margin: 0;
    padding: 0;
}

.container-nav>ul>li {
    display: inline-block;
    padding: 7px 13px;
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 255, 255, 0.425), rgba(255, 255, 255, 0.425));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 0;
    transition: background-size .3s;
}


.container-nav li:hover {
    /* padding: 13px 13px;
    background: rgba(29, 29, 29, 0.534); */
    background-size: 100% 4px;
}

.nav-flex>ul>li {
    display: inline-block;
}

.usuario{
    color: rgb(170, 170, 170);
    margin-right: 20px;
}
.arroba{
    color: rgb(170, 170, 170);
    font-size: bold;
}
.logout{
    margin: 0 6px;
    font-size: 0.9rem;
    color: rgb(243, 228, 209);
}
.logout-text{
    font-size: 0.9rem;
}
.login{
    margin: 0 6px;
    font-size: 0.9rem;
    color: rgb(243, 228, 209);
}
.login-text{
    font-size: 0.9rem;
}
.register-text{
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 4px;
    font-weight: bold;
    outline: 1px solid rgba(255, 255, 255, 0.336);
    padding: 4px 6px;
}
.online{
    color: rgb(101, 236, 101);
    margin-left: 3px;
    transform: scale(70%);
}
.settings{
    color: white;
    font-size: 120%;
    margin-right: 10px;
    margin-left: 15px;
}
.messages{
    color: white;
    font-size: 120%;
}

li a {
    text-decoration: none;
    color: white;
}

/* ----------------------- FIN HEADER ----------------------- */

/* ----------------------- FOOTER ----------------------- */

footer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    margin: 0 auto;
    height: 5vh;
    background: rgb(29,29,29);
    background: linear-gradient(124deg, rgba(29,29,29,0.39539565826330536) 0%, rgba(100,98,112,0.27494747899159666) 28%, rgba(100,98,112,0.3253676470588235) 59%, rgba(100,98,112,0.3309698879551821) 82%, rgba(29,29,29,0.3981967787114846) 100%);
    color: rgb(107, 103, 103);
    padding: 10px 0px;
    z-index: 100;
}
.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 300px;
    margin-right: 300px;
}
.coder-logo{
    height: 50px;
    width: 120px;
    object-fit:scale-down;
    padding-left: 10px;
}

.container-autor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0;
}
.container-autor>p{
    margin: 0;
    padding: 0;
}
.linkedin-logo{
    color: white;
    transform: scale(110%);
    margin-left: 5px;
}
.github-logo{
    color: white;
    transform: scale(110%);
    margin-left: 5px;
}
.location{
    color:rgb(179, 46, 46);
    transform: scale(110%);
    margin-right: 10px;
}
/* ----------------------- FIN FOOTER ----------------------- */

/* ----------------------- PRINCIPAL Y BANNERS ----------------------- */
.container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    min-height: 79vh;
    width: 70%;
    margin: 25px auto 10px;
    z-index: 1;
    margin-bottom: 2vh;
}

.banner-right{
    position: relative;
    width: 5%;
    left: 0;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
}

.banner-left{
    position: relative;
    width: 5%;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */

}
.separador-comentarios{
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgba(114, 116, 115, 0.575);
    width: 85%;
}
.separador-comentarios2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(114, 116, 115, 0.315);
    width: 98%;
}
/* ----------------------- FIN PRINCIPAL Y BANNERS ----------------------- */

/* ----------------------- CONTENIDO QUE CAMBIA ----------------------- */

.contenidoQueCambia{
    position: relative;
    width: 50%;
    min-width: 650px;
    border: 1px solid rgba(211, 211, 211, 0.103);
    border-radius: 15px;
    padding: 15px;
    color: white;
    z-index: 10;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.titulo-categoria{
    font-size: 1.7rem;
    color: rgb(204, 199, 199);
    margin-left: 1.2rem;
    margin-bottom: 5px;
}
.divisor{
    height: 3px;
    width: 97%;
    background: rgb(124,122,135);
    background: linear-gradient(124deg, rgba(124,122,135,0.27494747899159666) 13%, rgba(100,98,112,0.3253676470588235) 34%, rgba(100,98,112,0.3309698879551821) 52%, rgba(29,29,29,0.3981967787114846) 80%);
    margin-left: 1.2rem;
    margin-bottom: 20px;
}
.boton-newpost {
    position: inherit;
    display: block;
    width: 20%;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: rgb(39,78,130);
    background: linear-gradient(180deg, rgba(39,78,130,1) 0%, rgba(38,82,143,1) 12%, rgba(26,91,153,1) 32%, rgba(26,91,153,1) 68%, rgba(38,82,143,1) 88%, rgba(39,78,130,1) 100%);    color: white;
    font-size: .9rem;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px 0;
    border-radius: 25px;
    margin-bottom: 20px;
}
.boton-newpost a{
    text-decoration: none;
    color: inherit;
}

.container-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 47, 47, 0.589);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
}
.container-post-bio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 47, 47, 0.589);
    border-radius: 5px;
    padding: 0 10px 0 0;
    margin: 10px 0;
}
.container-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.imagen-miniatura-container{
    width: 70px;
    height: 70px;
}
.img-miniatura{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    object-fit: cover;
    object-position: center;
}
.container-post__userTitle{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
}
.fecha-lista{
    font-size: 0.6rem;
    color: gray;
    padding: 0;
    margin: 0;
}
.container-post__title{
    font-size: 0.9rem;
    padding: 0;
    margin: 6px 0;
}

.boton-ver{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(45, 15, 102, 0.233);
    border: 1px solid rgba(211, 211, 211, 0.178);
    outline: none;
}
.icon-eye{
    position: relative;
    color: white;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 7px;
}

.detalle-user{
    font-size: .8rem;
    color: rgb(88, 88, 88);
}

.detalle__container-imagen{
    display: flex;
    justify-content: center;
    
}
.detalle-imagen{
    position: relative;
    float: left;
    width: 70%;
    object-fit: fill;
}

.detalle-titulo{
    font-size: 170%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
}

.detalle__container-botones{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
}
.boton-editar{
    position: inherit;
    display: block;
    width: 30px;
    background-color: transparent;
    color: white;
    font-size: .9rem;
    font-weight: bold;
    border: none;
    outline: none;
}
.icono-editar{
    font-size: 1.2rem;
    color: rgb(105, 105, 90);
}
.contenedor-editdelete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.boton-editar a{
    text-decoration: none;
    color: inherit;
}
.boton-eliminar{
    position: inherit;
    display: block;
    width: 30px;
    background-color:   transparent;
    color: white;
    font-size: .9rem;
    font-weight: bold;
    border: none;
    outline: none;
}
.icono-eliminar{
    font-size: 1.2rem;
    color: rgb(204, 55, 35);
}
.boton-eliminar a{
    text-decoration: none;
    color: inherit;
}
        /* ------------------------ vista de biografía ----------------------  */


.detalle__container-imagen-biografia{
    float: right;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.detalle-contenido-biografia{
    color: white;
    text-align: left;
    font-size: 0.95rem;
    margin-bottom: 50px;
    line-height: 1.4em; 
}

.detalle-imagen-biografia{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
        /* ------------------------ fin vista de biografía ---------------------- */

        /* ------------------------ vista de puzzles ---------------------- */

        .detalle-solucion-puzzle{
            margin: 25px 0;
            display: flex;
            justify-content: center;
            align-content: center;
            text-align: center;
        }
        .boton-solucion{
            background-color: rgb(92, 138, 92);
            width: 30%;
            border-radius: 5px;
            right: 0;
            left: 0;
            margin: 0 auto;
            padding: 5px 0;
        }
        .detalle-titulo-puzzles{
            font-size: 140%;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 35px;
        }
        .detalle-contenido-puzzles{
            margin: 30px 0 50px 0;
        }
        /* ------------------------ finvista de puzzles ---------------------- */

        /* ------------------------ Vista de inicio ---------------------- */
            .container-inicio{
                /* border: 1px solid red; */
                height: auto;
                width: 95%;
                position: relative;
                right: 0;
                left: 0;
                margin: 0 auto;
                padding: 28px 0 14px 0;
            }

            .container-inicio-problemas,.container-inicio-biografias,.container-inicio-partidas,.container-inicio-about,.container-register-login{
                width: 90%;
                /* border: 1px solid green; */
                border-radius: 10px;
                height: 94px;
                right: 0;
                left: 0;
                margin: 0 auto 17px;
            }
            .container-inicio-problemas{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
            .inicio-problemas-texto{
                text-align: center;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                flex-basis: 40%;
                font-weight: bold;
                font-size: 170%;
                padding-top: 5px;
                padding-left: 5px;
            }
            .inicio-problemas-img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                filter: grayscale(100%);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                flex-basis: 60%;
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%); 
                clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
            }
            /* fin inicio-------------------------------------------------------------- */
            
            .container-inicio-biografias{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
            .inicio-biografias-texto{
                text-align: center;
                flex-basis: 40%;
                font-weight: bold;
                font-size: 170%;
                padding-top: 5px;
                padding-left: 5px;
            }
            .inicio-biografias-img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 0px -4px;
                filter: grayscale(100%);
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                flex-basis: 60%;
                -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%); 
                clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%)
            }
            /* fin biografias-------------------------------------------------------------- */
            .container-inicio-partidas{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
            .inicio-partidas-texto{
                text-align: center;
                flex-basis: 40%;
                font-weight: bold;
                font-size: 170%;
                padding-top: 5px;
                padding-left: 5px;
            }
            .inicio-partidas-img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                filter: grayscale(100%);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                flex-basis: 60%;
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%); 
                clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
            }
            /* fin partidas-------------------------------------------------------------- */
            .container-inicio-about{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
            .inicio-about-texto{
                text-align: center;
                flex-basis: 40%;
                font-weight: bold;
                font-size: 170%;
                padding-top: 5px;
                padding-left: 5px;
            }
            .inicio-about-img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: -2px -26px;
                filter: grayscale(100%);
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                flex-basis: 60%;
                -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%); 
                clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%)
            }
            /* fin about-------------------------------------------------------------- */
            .container-register-login{
                height: 90px;
                margin-top: 60px !important;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px 35px;
                box-sizing: border-box;
                background: rgb(33,69,117);
                background: linear-gradient(93deg, rgba(33,69,117,1) 0%, rgba(38,82,143,1) 43%, rgba(80,88,98,1) 53%, rgba(24,25,27,1) 100%);
            }
            .inicio-img-logo{
                width: 300px;
                height: auto;
                object-fit: cover;
                position: relative;
                z-index: 50;
                left: -20px;
            }
            .container-inicio-register{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 140%;
                font-weight: bold;
                color: white;
                text-align: center;
                margin: 0;
                letter-spacing: 1px;
            }
            .container-inicio-login{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 140%;
                font-weight: bold;
                color: white;
                text-align: center;
                margin: 0;
                letter-spacing: 1px;
            }

            .container-inicio div a {
                color: inherit;
                text-decoration: none;
            }
            
        /* ------------------------ fin Vista de inicio ---------------------- */
        
/* ----------------------- LOGIN  ----------------------- */

.body-login{
    background-image: url("./../assets/bg-login.svg");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.container-login{
    position: relative;
    width: 320px;
    height: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 25px;
    padding: 10px;
    align-self: flex-start;
    margin-top: 150px;
    box-sizing: border-box;
}
.cuadro-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.logo-proyecto-login{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.form-login{
    align-self: center;
    padding: 15px 25px;
    background-color: rgba(221, 221, 221, 0.644);
    border-radius: 15px;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
}
.form-login p label{
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}
.form-login p input{
    text-align: center;
    width: 45%;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}
.form-login p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    box-sizing: border-box;
}
.boton-login-cuadro{
    display: block;
    width: 30%;
    position: relative;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: rgba(37, 30, 30, 0.678);
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
    height: 25px;
    border-radius: 15px;
    box-sizing: border-box;
}

.errorlist{
    display:none;
}
.mensaje-login{
    font-size: 0.6rem;
    color: red;
}
.mensaje-registrate{
    font-size: 0.8rem;
}
.mensaje-registrate-link{
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(80, 66, 168);
}
/* ----------------------- FIN LOGIN  ----------------------- */

/* ----------------------- REGISTER  ----------------------- */
.container-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-register{
    text-align: center;
    font-size: 130%;
}
.formulario-register{
    width: 90%;
}
.p-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-form p{
    width: 100%;
    text-align: center;
    margin: 8px 0;
}
.mensaje-register{
    font-size: 0.6rem;
}
.container-register label {
    display: none;
}

.container-register input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0;
    text-align: center;
}
.container-register input::placeholder{
    text-align: center;
}
.boton-signup{
    width: 70%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(82, 170, 82);
    margin-top: 10px;
}
/* ----------------------- FIN REGISTER  ----------------------- */

/* ----------------------- POST  ----------------------- */
.container-post-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-post-form{
    text-align: center;
    font-size: 130%;
}
.formulario-post{
    width: 90%;
}
.p-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-form p{
    width: 100%;
    text-align: center;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.container-post-form input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0;
    text-align: center;
}

.boton-post-form{
    width: 70%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(82, 170, 82);
    margin-top: 10px;
}
/* ----------------------- FIN POST  ----------------------- */
/* ----------------------- COMMENTS  ----------------------- */
.container_form-comentario{
    margin-left:30px
}
.form-comentario{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.input-comentario{
    width: 300px;
    height: 28px;
    padding-left: 15px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input-comentario::placeholder{
    padding-left: 15px;
}
.input-comentario:focus{
    box-shadow: -2px 2px 0px 0px rgb(126, 206, 146);
    outline: none;
}
.boton-comentar-icono{
    font-size: 1.2rem;
    color: white;
}
.boton-comentar{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    padding: 0;
}
.container-comentario{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding: 15px;
    margin: 0 0 15px 15px;
    border-radius: 15px;
    background-color: rgba(29, 28, 28, 0.678);
    border: 1px solid rgba(94, 86, 86, 0.993);
}
.comentarista-fecha{
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 7px;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
}
.comentario-fecha{
    color:rgb(88, 88, 88);
    font-size: 0.7rem;
}
.comentario-autor{
    font-size: 0.7rem;
}
.boton-eliminar-comentario{
    align-self: end;
    font-size: 0.8rem;
    color: rgb(88, 88, 88);
    margin: 0 0 0 10px;
}
.boton-eliminar-comentario a{
    color: inherit;
    text-decoration: none;
}
.eliminar-comentario{
    font-size: 0.8rem;
    margin-right: 5px;
}
.comentario{
    font-size: 0.9rem;
    margin-left: 25px;
}

/* ----------------------- FIN COMMENTS  ----------------------- */
/* ----------------------- LIKES  ----------------------- */
.container-likes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2px;
        padding: 0 50px 0 30px;    
}
.total-likes{
    font-size: 1rem;
    color: white;
}
.boton-like{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.9rem;
}
.like-icon{
    color: rgb(102, 133, 168);
    font-size: 1.5rem;
}
.container-like-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-likesPuzzles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
/* ----------------------- FIN LIKES  ----------------------- */

/* -----------------------  ABOUT  -----------------------*/
.detalle-titulo-about{
    text-align: end;
    font-size: 1.7rem;
    font-weight: bold;
    margin-right: 15px;
}

.detalle__container-imagen-about{
    float: right;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.detalle-contenido-about{
    color: white;
    text-align: left;
    font-size: 0.95rem;
    margin-bottom: 10px;
    padding: 15px;
    line-height: 1.4em; 
}

.detalle-imagen-about{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.fide{
    display: block;
    text-align: end;
    margin-right: 15px;
}
.fide a{
    color: inherit;
}
/* -----------------------  ABOUT  ----------------------- */

/* ----------------------- responsive  ----------------------- */
@media (max-width: 1370px) {
    .nav-flex{
        gap: 50px;
        padding: 10px 100px;
    }
   

    .container-footer{
        margin: 150px;
    }
    .container-footer p{
        width: 92px;
    }
}

@media (max-width: 1170px) {
    .nav-flex{
        gap: 10px;
        padding: 10px 50px;
    }
}

@media (max-width: 1015px) {
    .nav-flex{
        flex-direction: column;
    }
    .container-nav{
        flex-direction: column;
    }
    .main-header{
        height: auto;
    }
    .container-footer{
        margin-top: 10px;
        margin-bottom: 0;
    }
    footer{
        flex-direction: column;
        height: auto;
    }
}